#modal {
  box-sizing: border-box;
  position: fixed;
  top: 33%;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  margin-top: -100px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.7);
}

#modal-underlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.25);
}

.modal-header {
  font-size: 140%;
  margin: 0 0 10px 0;
}

.modal-content {
  margin: 5px 0 0 0;
}

.modal-action {
  margin-top: 5px;
  position: float;
  width: 45%;
}

.modal-action-left {
  float: left;
}
.modal-action-right {
  float: right;
}

.modal-close {
  margin-top: 10px;
}