.header-title {
  text-align: right;
  padding: 10px;
  font-size: 210%;
}

.header-input-group {
  margin: 0 0 10px 0;
}

.header-input-group-line {
  width: 100%;
  max-width: 300px;
  margin: 5px auto;
}

.header-input-group-line input,
.header-input-group-line select {
  width: 100%;
}

.header-input-group-line select {
  margin-top: 5px;
}