#header {
  margin-bottom: 25px;
}

#header-img {
  position: absolute;
  top: -10px;
  left: 25px;
  width: 100px;
  transform: rotate(-20deg);
  z-index: -1;
}

.header-title {
  text-align: right;
  padding: 10px;
  font-size: 210%;
}

.header-input-group-line {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.header-input {
  background-color: #fcfcfc;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 80%;
  font-family: 'Arvo';
  color: #ca3737;
  text-shadow: 0 2px 0 white;
  margin: 5px 0 0 0;
}
.header-input-2-wide.left {
  float: left;
  width: 65%;
}

.header-input-2-wide.right {
  float: right;
  width: 33%;
}

.header-input-1-wide {
  width: 100%;
}

.header-transition {
  transition: height 200ms ease-in;
  height: 0;
  overflow: hidden;
}