.section {
  background-color: #EEEEEE;
  width: 90%;
  margin: 15px auto;
  padding: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
}

.section-header {
  margin: 0 0 3px 5px;
  font-size: 180%;
}

.section-problems {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.section-hamburger {
  height: 35px;
  float: right;
}