@import url(//fonts.googleapis.com/css?family=Arvo|Bungee);

* { /* Standardize margins */
  padding: 0;
  margin: 0;
}

body { /* Font stack (Override me for headers) */
  font-family: 'Arvo', 'Helvetica Neue', 'Arial';
  background: #fafafa;
}

/* Font override: Headings = Bungee, if available */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee';
  letter-spacing: 4px;
  text-shadow: -1px 2px 0 #E57373;
  line-height: 100%;
  display: inline-block;
  color: #333;
}

.height-transition {
  transition: height 100ms ease-in;
  height: 0;
  overflow: hidden;
}