@import url(//fonts.googleapis.com/css?family=Arvo|Bungee);

* { /* Standardize margins */
  padding: 0;
  margin: 0;
}

body { /* Font stack (Override me for headers) */
  font-family: 'Arvo', 'Helvetica Neue', 'Arial';
  background: #fafafa;
}

/* Font override: Headings = Bungee, if available */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee';
  letter-spacing: 4px;
  text-shadow: -1px 2px 0 #E57373;
  line-height: 100%;
  display: inline-block;
  color: #333;
}

.input-group-line {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.input {
  background-color: #FFEBEE;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 80%;
  font-family: 'Arvo';
  color: #ca3737;
  text-shadow: 0 2px 0 white;
  margin: 5px 0 0 0;
}

.input-2-wide.left {
  float: left;
  width: 65%;
}

.input-2-wide.right {
  float: right;
  width: 33%;
}

.input-1-wide {
  width: 100%;
}

.transition {
  transition: height 200ms ease-in;
  height: 0;
  overflow: hidden;
}