.group {
  background-color: #EEEEEE;
  width: 90%;
  margin: 15px auto;
  padding: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
}

.group-header {
  margin: 3px 0 5px 5px;
  font-size: 160%;
}

.group-problems {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.group-hamburger {
  height: 32px;
  float: right;
}